@import "../../App.scss";

h3{
    color: #222;
    font-size: 24px;
    font-weight: 400;
}

.p{
    font-weight:lighter;
    font-family: $font-family-poppins;
}

table{
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 1.5rem 0 1.75rem;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    vertical-align: middle;
    font-weight: 400;
}

.privacycontent{
    padding-left: 30%;
}
